.navbar-text{
    margin-left: 9px;
}
body {
    background: #333;
}
.titolo {
    color: aliceblue;
    text-align: center;
}
.sottotitolo {
    color: aliceblue;
    text-align: center;
}
.sottotitoloo {
    color: aliceblue;
    text-align: center;
    margin-top: 13px;
}